/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(236, 89, 89);
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

.hero-content {
    flex: 1;
    text-align: left;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}


.flexbox {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 20px;
}

.box {
    padding: 20px;
    background-color: lightblue;
    border: 1px solid #ccc;
    flex: 1;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card button {
    background: #ff5733;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

.logo-img {
    width: 60px;
}
.logo {
    display: flex;
    justify-items: center;
}

button {
    color: white;
    border: none;
    background-color: rgb(236, 89, 89);
    padding: 15px;
    border-radius: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ff0000;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .hamburger {
        display: block;
    }
}